@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', serif;
  min-width: 100%;
}

/*------------------------------------------------------------------NavBar-------------------------------------------------------------------*/
.container{
  max-width: 90%;
  margin: auto;
}

.container1{
  display: flex;
  max-width: 90%;
  margin: auto;
  justify-content: center;
}

.container2{
  max-width: 99%;
  margin: auto;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  transition: 0.5s;
}

a:hover{
  transition: 0.5s;
  cursor: pointer;
}

.flex{
  display: flex;
  align-items: center;
}

.flex1{
  display: flex;
  justify-content: space-around;
  align-content: center;
}
/*------------------------------------------------------------------NavBar-------------------------------------------------------------------*/

/*------------------------------------------------------------------Header-------------------------------------------------------------------*/
.head{
  height: 10vh;
  line-height: 12vh;
  background: rgba(2, 117, 188, 0.5);
}

.head i{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  color: #0275BCff;
  line-height: 30px;
}

.head img{
  height: 100px;
}
/*------------------------------------------------------------------Header-------------------------------------------------------------------*/
header{
  background: rgba(2, 117, 188, 0.5);
  padding: 15px 0 15px 0;
  color: white;
}

.navbar{
  display: flex;
  align-items: center;
}

.hamburger{
  display: none;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
  background: white;
}

.nav-menu{
  display: flex;
  align-items: center;
}

header ul{
  padding: 0 20px 0 0;
}

header li{
  margin-right: 30px
}

header ul li a{
  position: relative;
  text-decoration: none;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 500;
}

header ul li a:after{
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}

.nav-menu a:hover:after{
  width: 100%;
}

header .head_contact{
  position: relative;
}

.sticky .container1 .head_contact i{
  display: none;
}

header .head_contact i{
  position: absolute;
  top: -40px;
  left: -70%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: white;
  color: #0275BCff;
  border-radius: 50%;
  transform: rotate(-45deg);
  font-size: 30px;
}

header.sticky{
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 10vh;
  background: #234294ff;
  transition: 0.5s;
  top: 0;
  padding: 30px 0 0 0;
}

header .sticky ul li a{
  color: white;
}

@media only screen and (max-width:768px){
  /*------Head-------*/
  .nav-menu{
    display: flex;
    align-items: center;
  }

  .address{
    display: none;
  }

  .social{
    display: none;
  }

  .logo{
    display: flex;
    justify-content: center;
  }

  .logo img{
    height: 100px;
  }

  .header .head_contact{
    display: none;
  }

  .head{
    background: rgba(2, 117, 188, 0.5);
  }

  /*------Header-------*/
  header ul{
    padding: 0 0 0 0;
  }

  .header .container1{
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: right;
  }

  .header.sticky{
    height: 13vh;
  }

  .sticky .container1{
    margin: 0 0 0 25px;
  }

  .header.sticky .nav-menu{
    background: #234294ff;
  }

  .navbar{
    height: 5vh;
    padding: 2vh;
    justify-content: flex-end;
  }

  .nav-menu{
    position: fixed;
    right: -100%;
    top: 8rem;
    bottom: 0;
    flex-direction: column;
    background: rgba(2, 117, 188, 0.5);
    width: 100%;
    text-align: center;
    transition: 0.5s;
    z-index: 99;
  }

  .header.sticky .nav-menu{
    top: 5rem;
    bottom: 0rem;
  }

  .header ul li a{
    color: white;
  }

  .nav-menu.active{
    width: 40%;
    right: 0;
    bottom: 0;
    top: 127px;
    border-radius: 0 0 0 50%;
    transition: 0.5s;
  }

  header li{
    margin: 1rem 0;
  }

  .hamburger{
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*-------------------------------------------------------------------Home--------------------------------------------------------------------*/
.home .image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: brightness(60%)
}

.home .text {
  max-width: 50%;
  color: white;
  margin: 86px 0 0 40px;
}

.home h1 {
  font-size: 65px;
  font-weight: 400;
}

.home p {
  font-weight: 400;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 19px;
  margin: 50px 0 0 0;
}

button{ 
  display: inline-block;
  background: none;
  outline: none;
  color: #3EA4DBff;
  font-size: 18px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 50px;
  border: 2px solid #3EA4DBff;
  transition: all 0.3s ease;
}

button:hover{   
  color: white;
  background: #234294ff;
  border-radius: 50px;
  border: 2px solid #234294ff;
  transform: scale(1.1);      /* enlarges text upon hover */
}

@media only screen and (max-width:768px) {
  .home .image img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: brightness(60%)
  }

  .home .text {
    max-width: 50%;
    color: white;
    margin: 60px 0 0 35px;
  }

  .home h1 {
    font-size: 65px;
    font-weight: 400;
  }

  .home p {
    font-weight: 400;
    line-height: 25px;
    font-family: sans-serif;
    font-size: 19px;
    margin: 50px 0 0 50px;
  }
}

/* Booking Reservation Button */
.home .image_item {
  position: absolute;
  top: 25%;
  right: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.home .image_item img {
  width: 140px;
  height: 94px;
  margin: 10px;
  transition: 0.5s;
}

.home .box .text::after {
  position: absolute;
  content: 'E';
  font-size: 500px;
  top: -120%;
  font-weight: bold;
  opacity: 0.25;
}

/*-------------------------------------------------------------------Home--------------------------------------------------------------------*/

/*-------------------------------------------------------------------Book--------------------------------------------------------------------*/
.book {
  margin: 5% 0 0 0;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.book .input {
  background: #242e5a;
  padding: 20px 20px 20px 20px;
}

.book .search {
  background: #3f9cc1;
  padding: 20px;
}

input {
  width: 100%;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  background: #263760;
  margin-top: 20px;
  color: white;
}

::placeholder {
  color: white;
}

.book .search {
  width: 20%;
}

.book .search input {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 20px;
}
/*-------------------------------------------------------------------Book--------------------------------------------------------------------*/

/*-------------------------------------------------------------------About-------------------------------------------------------------------*/
.top {
  margin-top: 10%;
}

.mtop {
  margin-top: 5%;
}

.left, .right {
  width: 50%;
}

.about {
  margin: 35vh 0 0 0;
}

.about .img {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.about .image1 {
  width: 320px;
  height: 440px;
}

.about .image2 {
  margin-top: 25px;
  width: 400px;
  height: 250px;
  z-index: 2;
  right: -10%;
}

.heading {
  position: relative;
}

.heading::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100px;
  height: 4px;
  background: #E54E25ff;
}

.heading h5 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #5f5f5f;
}

.heading h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  color: #222222;
}

.heading p {
  font-size: 17px;
  margin-bottom: 20px;
  line-height: 25px;
  color: #5f5f5f;
  margin: 0 0 20px 50px;
}

.heading .btn1{ 
  display: inline-block;
  background: none;
  outline: none;
  color: #F17F23ff;
  font-size: 20px;
  padding: 12px 36px;
  margin: 50px 0 20px 50px;
  border-radius: 50px;
  background-color: white;
  border: 2px solid #F17F23ff;
  transition: all 0.3s ease;
}
.heading .btn1:hover{   
  color: white;
  background: #E54E25ff;
  border-radius: 50px;
  border: 2px solid #E54E25ff;
  transform: scale(1.1);      /* enlarges text upon hover */
}

@media only screen and (max-width:768px) {
  .mtop {
    margin-top: 5%;
  }
  
  .left, .right {
    width: 100%;
  }
  
  .about {
    margin-bottom: 50px;
    margin-top: 17vh;
  }
  
  .about .img {
    position: relative;
  }
  
  .about .image1 {
    width: 40%;
    height: 100%;
  }
  
  .about .image2 {
    width: 60%;
    height: 100%;
    z-index: 2;
    right: 1%;
    top: 15vh;
  }
  
  .heading {
    position: relative;
    top: 4vh;
  }
  
  .heading::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100px;
    height: 4px;
    background: #E54E25ff;
  }
  
  .heading h5 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 20px;
    color: #5f5f5f;
  }
  
  .heading h2 {
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0 40px 0;
    color: #222222;
  }
  
  .heading p {
    font-size: 17px;
    margin-bottom: 20px;
    line-height: 25px;
    color: #5f5f5f;
    margin: 0 0 20px 50px;
  }

  .heading .btn1:hover{   
    color: white;
    background: #E54E25ff;
    border-radius: 50px;
    border: 2px solid #E54E25ff;
    transform: scale(1.1);      /* enlarges text upon hover */
  }
}
/*-------------------------------------------------------------------About-------------------------------------------------------------------*/

/*------------------------------------------------------------------Wrapper------------------------------------------------------------------*/
.wrapper {
  background-image: url("../image/w1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
}

.wrapper .text {
  background: #0275BCff;
  padding: 50px;
  width: 40%;
  height: 600px;
  position: absolute;
  top: -13%;
  right: 10%;
  padding-top: 6%;
  color: white;
}

.wrapper .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10vh;
  grid-column-gap: 2vh;
  font-size: 30px;
}

.wrapper h2 {
  font-weight: 400;
  font-size: 30px;
  font-weight: 400;
  margin: 20px;
}

.wrapper p {
  margin: 20px;
  line-height: 30px;
  font-size: 17px;
  margin-bottom: 60px;
  /*margin: 0 0 20px 50px;*/
}

.wrapper span {
  align-items: center;
  font-size: 16px;
  margin-left: 45px;
}

.wrapper i {
  margin: 0px -30px 0 0;
}

@media only screen and (max-width:768px) {
  .wrapper {
  background-image: url("../image/w1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
  top: 10vh;
}

  .wrapper .text {
    background: #0275BCff;
    padding: 50px;
    width: 40%;
    height: 600px;
    position: absolute;
    top: -13%;
    right: 10%;
    padding-top: 4%;
    color: white;
  }

  .wrapper .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
  }

  .wrapper h2 {
    font-weight: 400;
    font-size: 30px;
    font-weight: 400;
    margin: 20px;
  }

  .wrapper p {
    margin: 20px;
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 20px;
    margin: 0 0 20px 50px;
  }

  .wrapper span {
    margin: 20px;
    font-size: 16px;
    margin: 0 0 20px 50px;
  }

  .wrapper i {
    margin: 5px 20px 0 0;
  }
}
/*------------------------------------------------------------------Wrapper------------------------------------------------------------------*/

/*-------------------------------------------------------------------Room--------------------------------------------------------------------*/

.room .grid {
  grid-template-columns: repeat(3, 1fr);
}

.room img {
  width: 100%;
  height: 35vh;
}

.room .box {
  box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
}

.room .text {
  padding: 20px;
}

.room h3 {
  font-weight: 400;
  margin-bottom: 10px;
}

.room p span {
  font-size: 12px;
  color: grey;
}

.room p {
  font-size: 20px;
}

.room .btn1{ 
  display: inline-block;
  background: none;
  outline: none;
  color: #F17F23ff;
  font-size: 20px;
  padding: 12px 36px;
  margin: 50px 0 20px 50px;
  border-radius: 50px;
  background-color: white;
  border: 2px solid #F17F23ff;
  transition: all 0.3s ease;
}
.room .btn1:hover{   
  color: white;
  background: #E54E25ff;
  border-radius: 50px;
  border: 2px solid #E54E25ff;
  transform: scale(1.1);      /* enlarges text upon hover */
}

@media only screen and (max-width:768px){
  .room img{
    width: 90vw;
    height: 65vh;
  }
}
/*-------------------------------------------------------------------Room--------------------------------------------------------------------*/

/*------------------------------------------------------------------Wrapper2-----------------------------------------------------------------*/
.wrapper2 {
  background-image: url("../image/w2.png");
}

.wrapper2 .text {
  left: 10%;
}

.wrapper2 h5,
.wrapper2 h2 {
  color: white;
}

.wrapper2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.wrapper2 .para h5 {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
}

.wrapper2 .para {
  margin-left: 10%;
}

/*------------------------------------------------------------------Wrapper2-----------------------------------------------------------------*/

/*-----------------------------------------------------------------Restaurant----------------------------------------------------------------*/
.restaurant img {
  width: 100%;
  height: 70%;
}

.restaurant .left{
  display: flex;
  align-items: center;
}

.restaurant .right {
  padding: 50px 50px 50px 100px;
}

.restaurant h2 {
  margin-bottom: 20px;
  font-weight: 400;
}

.restaurant .text p {
  margin-bottom: 50px;
  line-height: 25px;
}

.accordionItem {
  margin-top: 30px;
}

.accordionItem p {
  font-size: 15px;
  opacity: 0.8;
  font-family: sans-serif;
  line-height: 20px;
}

.accordionIHeading {
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  font-weight: 400;
  font-size: 21px;
  color: #3EA4DBff;
  margin-bottom: 20px;
}

.close .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  transform: scaleY(0);
  float: left;
  display: block;
  background-color: #fff;
}

.open .accordionItemContent {
  padding: 30px;
  background-color: #fff;
  width: 100%;
  margin: 0 0 10px 0;
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  box-sizing: border-box;
  box-shadow: 0 13px 43px 0 rgb(37 46 89 / 10%);
}

@media only screen and (max-width:768px) {

}

/*-----------------------------------------------------------------Restaurant----------------------------------------------------------------*/

/*------------------------------------------------------------------Gallary------------------------------------------------------------------*/
.gallary img {
  width: 270px;
  height: 350px;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  height: 50px;
  position: absolute;
  width: 50px;
  cursor: pointer;
  top: 35%;
  background: white !important;
  transition: 0.5s;
}

.owl-carousel .owl-prev {
  left: 33px;
}

.owl-carousel .owl-next {
  right: 33px;
}

.owl-carousel .owl-next:hover,
.owl-carousel .owl-prev:hover {
  background: #444 !important;
  transform: scale(1.1); 
}

.button .btn2{ 
  display: inline-block;
  background: none;
  outline: none;
  color: #F17F23ff;
  font-size: 20px;
  padding: 12px 36px;
  margin: 50px 0 20px 50px;
  border-radius: 50px;
  background-color: white;
  border: 2px solid #F17F23ff;
  transition: all 0.3s ease;
}
.button .btn2:hover{   
  color: white;
  background: #E54E25ff;
  border-radius: 50px;
  border: 2px solid #E54E25ff;
  transform: scale(1.1);      /* enlarges text upon hover */
}

/*------------------------------------------------------------------Gallary------------------------------------------------------------------*/

/*--------------------------------------------------------------------Map--------------------------------------------------------------------*/
.map iframe {
  width: 100%;
}

.map{
  margin-bottom: 3vh;
}

/*--------------------------------------------------------------------Map--------------------------------------------------------------------*/


/*-------------------------------------------------------------------Footer------------------------------------------------------------------*/
footer
{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
  background: #333;
  position: relative;
  width: 100%;
  background: #0275BCff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .social_icon,
footer .menu
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li
{
  list-style-type: none;
}
footer .social_icon li a
{
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover
{
  transform: translateY(-10px);

}
footer .menu li a
{
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu li a:hover
{
opacity: 1;
}
footer p
{
  color: #fff;
  text-align: center;
  margin-top: 15px; 
  margin-bottom: 10px;
  font-size: 1.1em;
}
footer .wave
{
  position: absolute;
  top: -100px;
  Left: 0;
  width: 100%;
  height: 100px;
  background: url(french-blue-wave.png);
  background-size: 1000px 100px;
}
footer .wave#wave1
{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2
{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3
{
  z-index: 1000;
  opacity: 0.2;
  bottom: 0;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4
{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave
{
  0%
  {
    background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02
{
  0%
  {
    background-position-x: 0px;
  }
  100%
  {
    background-position-x: 1000px;
  }
}
/*-------------------------------------------------------------------Footer------------------------------------------------------------------*/

/*-----------------------------------------------------------------Media Query---------------------------------------------------------------*/

@media only screen and (max-width:768px) {
  .home .box .text::after,
  .home .image_item {
    display: none;
  }
S
  .restaurant .container,
  .about .container,
  .book .container {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .book {
    margin-top: 3.8%;
    height: auto;
    width: 100%;
  }

  .book .search {
    width: 100%;
  }

  .book .search input {
    margin-top: 0;
  }

  .left, .right {
    width: 100%;
  }

  .wrapper .text {
    width: 80%;
  }

  .room .grid {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .restaurant .right {
    padding: 0;
  }

  footer .payment {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width:768px){
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .home h1 {
    font-size: 40px;
  }

  .about p,
  .home p {
    margin: 50px 0 0 0;
  }

  .wrapper .text {
    padding: 10px;
    height: 600px;
  }

  .heading_top {
    margin-top: 130px;
  }

  .heading_top button {
    display: none;
  }

  .restaurant .flex {
    flex-direction: column-reverse;
  }
}
/*-----------------------------------------------------------------Media Query---------------------------------------------------------------*/

